/* CSS Document */
body{background: #14A8D5 url(file:///C|/xampp/htdocs/Etiquetas/ff.jpg)no-repeat fixed;}
.container{
	width:80%;
	margin:0 auto;
	background:rgba(129,129,129,1.00);
	color:#000000;
}
.fotos img { margin-left:20px; }
.container .nombre{float: right; width: 70%; }
.container .nombre h1,.container .nombre b , a{text-transform:uppercase;}
.container .nombre h1{font-size:200%;}
.container img {float:left; width:30%;}
.clear{clear:both;}
.container .links{width:100%; float: right; }
.container .links ul{list-style: none; margin: 0; padding:0;}
.container .links li{display:inline-block; text-align: center;}
.container .links li a{display:inline-block; padding: 5px 15px; margin:10px; background:#Bebebe; color:#000000; text-decoration: none;}
.container .links li a:hover{background:#000000; color:#4F596A;}